name: Publish Plugin to Rubygems.org

on:
  push:
    branches:
      - master

jobs:
  #  verify_version:
  #    runs-on: ubuntu-latest
  #  steps:
  #  - uses: actions/checkout@v1
  #  - uses: jsvd/logstash-plugin-actions@master
  publish:
    #needs: verify_version
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: eregon/use-ruby-action@master
      with:
        ruby-version: jruby
    - name: Install devutils
      run: gem install logstash-devutils
    - name: Vendor
      run: rake vendor
    - name: Build gem
      run: gem build *.gemspec
    - name: Publish gem
      run: echo "publish"
